<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.BiblioEPFCConnectionString"
            connectionString="Data Source=.\EPFCSQLEXPRESS;AttachDbFilename=V:\BiblioEPFC.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>